.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.bgimage {
  width:100%;
  height:600px;
  background: url('https://images2.imgbox.com/4c/e7/zIbvYp5m_o.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  /* background-attachment: fixed; */
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}