/* 
  Star Trek Uniform Colors:
    Blue: #4a508a
    Red: #c44040
    Yellow: #d89000
*/

@font-face {
  font-family: 'Stardate';
  src: url(./fonts/Stardate81316-aolE.ttf);
}

.title {
  width: 100%;
  font-family: 'Stardate';
  font-size: 4rem;
  color: #c44040;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.bgimage {
  width: 100%;
  height: 450px;
  /* Lower Decks Header Image URL */
  background: url('https://wwwimage-secure.cbsstatic.com/base/files/blog/57a457dab1e2ffb2_star-trek-lower-decks-header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.search {
  width: 50%;
  margin-bottom: 25px;
}